$headerHeight: 400px
$characterHeaderHeight: 900px

.page-header
  height: $headerHeight
  margin: -56px 0 3rem
  padding: 56px 0 3rem
  display: flex
  flex-direction: column
  justify-content: flex-end
  width: 100%
  position: relative
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(to bottom, rgba(0,0,0,0), #111111)
  &__content
    position: relative
    z-index: 1
    h1, p.stroke
      filter: drop-shadow(0px 0px 5px $black)
    h1
      font-size: 3rem
  &.tall
    height: $characterHeaderHeight
    margin: -56px 0 calc(-#{$characterHeaderHeight} + #{$headerHeight} - 1.5rem)
    padding: 56px 0 calc(#{$characterHeaderHeight} - #{$headerHeight} + 3rem)
  &__details
    list-style: none
    width: 100%
    margin: 0
    padding: 1rem
    display: flex
    flex-wrap: wrap
    align-items: center
    background-color: rgba(0,0,0,0.8)
    border: 2px solid #cccccc
    box-shadow: 0 0 0 2px rgba(0,0,0,0.8)
    li
      display: flex
      align-items: center
      font-size: 1.5rem
      margin-right: 1.5rem
      div
        display: flex
        flex-direction: column
        align-items: center
        margin-right: 1rem
        img, svg
          display: block
          width: 32px
          height: 32px
          filter: invert(1)
        p
          margin: 0
          font-size: 0.875rem