@media (min-width: 1900px)
  .navbar
    &-dark
      .navbar-nav
        .nav-item
          .nav-link
            font-size: 1.25rem
            padding: 1rem 2rem
@media (min-width: 1600px)
  body
    font-size: 1.25rem
  h2
    font-size: 2.5rem
  .navbar
    &-dark
      .navbar-nav
        .nav-item
          .nav-link
            font-size: 1.1rem
            padding: 1.1rem 1.5rem
            &:before, &:after
              width: 2px
              height: 5rem
              transform: rotate(15deg)
            &:before
              left: 6px
            &:after
              right: 9px
          &.icon
            .nav-link
              img
                width: 30px
                height: 30px
    &-brand
      img
        width: 300px
        height: 32px
      p
        width: 300px
        font-size: 0.85rem
  .dropdown
    &-header
      font-size: 1rem
    &-menu
      font-size: 1.25rem
  .card
    &-deck
      .card
        &.bg-skyrim
          flex: 0 1 calc(25% - 15px)
@media (min-width: 992px) and (max-width: 1199px)
  body
    font-size: 1rem
  .navbar
    &-dark
      .navbar-nav
        .nav-item
          .nav-link
            padding: 1rem 1.5rem
          &.icon
            .nav-link
              img
                width: 24px
                height: 24px
    &-brand
  .card
    &-deck
      .card
        &.bg-skyrim
          flex: 0 1 calc(33.3333% - 15px)